.particle {
    position: absolute;
    padding: 2vw;

    transform: translate(-50%, -50%);
    border-radius: 50%;
    background: cyan;
    opacity: 1;
    filter: blur(6px);

    pointer-events: none;

    &.fading {
        opacity: 0;
        padding: 0;
        transition: padding 500ms linear, opacity 500ms linear;
    }
}

